<%= form_for(actor) do |f| %>
  <% if actor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(actor.errors.count, "error") %> prohibited this actor from being saved:</h2>

      <ul>
      <% actor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :date_of_birth %>
    <%= f.date_select :date_of_birth %>
  </div>

  <div class="field">
    <%= f.label :place_of_birth %>
    <%= f.text_field :place_of_birth %>
  </div>

  <div class="field">
    <%= f.label :film_id %>
    <%= f.select :film_id, Film.all.map {|p| [p,p.id]} %>
  </div>
  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
