<p>
  <strong>Name:</strong>
  <%= @actor.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @actor.description %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @actor.date_of_birth %>
</p>

<p>
  <strong>Place of birth:</strong>
  <%= @actor.place_of_birth %>
</p>

<p>
  <strong>Film:</strong>
  <%= @actor.film.title  %>
</p>

<%= render partial: "comments/form", locals: {commentable: @actor} %>
<%= render partial: "comments/comments", locals: {commentable: @actor} %>

<%= link_to 'Edit', edit_actor_path(@actor) %> |
<%= link_to 'Back', actors_path %>
