%p
  %strong Name:
  = @director.name

%p
  %strong Description:
  = @director.description

%p
  %strong Date of birth:
  = @director.date_of_birth

%p
  %strong Place of birth:
  = @director.place_of_birth

%p
  %strong Film:
  = @director.film.title

= render partial: "comments/form", locals: {commentable: @director}

= render partial: "comments/comments", locals: {commentable: @director}

= link_to 'Edit', edit_director_path(@director), class: "btn btn-default"
= link_to 'Back', directors_path, class: "btn btn-default"
