.main_content 
  #film_top.row
    .col-md-8
      #film_info
        %h1= @film.title

        %p= @film.description


        %p
          %strong Director:
          - @film.directors.each do |director| 
            = link_to director.name, director_path(director)


        %p
          %strong Cast:
          - @film.actors.each do |actor|
            %ul
            = link_to actor.name, actor_path(actor)


= render partial: "comments/comments", locals: {commentable: @film}

= render partial: "comments/form", locals: {commentable: @film}

%br/

= link_to 'Edit film', edit_film_path(@film), class: "btn btn-default" 
= link_to 'Back to films', films_path, class: "btn btn-default" 
